Source: pysshmenu
Section: x11
Priority: extra
Maintainer: Olivier Berger <obergix@debian.org>
Uploaders: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Build-Depends: debhelper (>= 9), python | python-all | python-dev | python-all-dev, dh-python
Standards-Version: 3.9.5
Homepage: https://github.com/MasslessParticle/pySSHMenu
Vcs-Browser: https://github.com/olberger/pySSHMenu
Vcs-Git: https://github.com/olberger/pySSHMenu.git
X-Python-Version: >= 2.7

Package: pysshmenu
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, python-yaml, python-gi, python-gconf, python-gobject-2
Provides: sshmenu
Description: Menu for quick connections to your remote hosts
 SSHMenu is a simple GUI app that provides a menu for initiating SSH
 connections. Select a host from the menu and up pops a new terminal
 window containing an SSH session to the selected host.
 .
 pySSHMenu is a port of SSHMenu to Python and Gtk 3 that runs as an
 AppIndicator or StatusIcon rather than as an applet. pySSHMenu reads
 and writes your old SSHMenu configuration files to make transitioning
 easy.
